autostart
Thunar
pavucontrol.ini
xfce4
QtProject.conf
error.log
obs-studio
current-theme.conf
discord
kdeconnect
mimeapps.list
Kuro
tomate
clash
clash_win
configstore
dolphinrc
dconf
WebCord
evolution
Electron
Estmob
completions
yesplaymusic
conf.d 
fish_plugins
fish_variables
functions
themes
fcitx
fcitx5
gtk-3.0
spotify
ibus
ok
kde.org
libreoffice
nvim
pulse
systemd
session
yay
kitty.conf.bak
