autostart
Thunar
pavucontrol.ini
xfce4
error.log
current-theme.conf
clash
clash_win
configstore
dolphinrc
dconf
Electron
Estmob
completions
conf.d 
fish_plugins
fish_variables
functions
themes
fcitx
fcitx5
gtk-3.0
spotify
ibus
ok
kde.org
libreoffice
nvim
pulse
systemd
session
yay
kitty.conf.bak
