autostart
colors
dconf
Electron
fcitx
fcitx5
gtk-3.0
htop
ibus
mimeapps.list
pavucontrol.ini
pulse
spotify
systemd
VSCodium
waybar.bak
yay
completions
conf.d
fish_plugins
fish_variables
functions
themes
current-theme.conf
kitty.conf.bak
